{#include base}
    {#title}Hello{/title}
    {#description}This sample shows a simple expression with an elvis operator <code>?:</code>.{/description}
    {#labels}
    <span class="label label-default">expression</span>
    <span class="label label-default">elvis operator</span>
    {/labels}
    {#content}
        <label for="source">Source:</label>
        <pre id="source"><code>{|&lt;p&gt;Hello {name ?: 'world'}!&lt;/p&gt;|}</code></pre>

        {#include data /}

        <label for="output">Output:</label>
        <div class="panel panel-default" id="output">
            <div class="panel-body">
                <p>Hello {name ?: 'world'}!</p>
            </div>
        </div>
        
        <div class="alert alert-info" role="alert">Add a param to the URL to see the elvis operator in action, e.g. <code>/hello?name=Foo</code>.</div>

{/include}