{#include base}
    {#title}User-defined Tags{/title}
    {#description}User-defined tags can be used to include a template and optionally pass some parameters.{/}
    {#labels}
    <span class="label label-default">expression</span>
    <span class="label label-default">loop section</span>
    <span class="label label-default">extension methods</span>
    <span class="label label-default">user tags</span>
    {/labels}
    {#content}
        <label for="source1">Tag source located in <code>tags/item-detail.html</code>:</label>
        <pre id="source1"><code>{|{@org.acme.qute.usertags.Item it}
&lt;tr&gt;
    &lt;td&gt;{count}&lt;/td&gt;
    &lt;td&gt;{it.name}&lt;/td&gt;
    &lt;td&gt;
    {#if it.price &lt; limit}
        {it.price} 
    {#else}
        &lt;del&gt;{it.price}&lt;/del&gt;
        &lt;strong&gt;{it.discountedPrice(discount)}&lt;/strong&gt;
        (save {it.getDiscountValue(discount)})
    {/if}
    &lt;/div&gt;
&lt;/tr&gt;|}</code></pre>
        <label for="source2">Source:</label>
        <pre id="source2"><code>{|&lt;table class=&quot;table table-striped&quot; id=&quot;output&quot;&gt;
    &lt;caption&gt;List of Items (discount price limit: {discountLimit}, discount: {discount}%)&lt;/caption&gt;
    &lt;thead class=&quot;thead-dark&quot;&gt;
    &lt;tr&gt;
        &lt;th scope=&quot;col&quot;&gt;#&lt;/th&gt;
        &lt;th scope=&quot;col&quot;&gt;Name&lt;/th&gt;
        &lt;th scope=&quot;col&quot;&gt;Price&lt;/th&gt;
    &lt;/tr&gt;
    &lt;/thead&gt;
      {#for item in items}
        {#item-detail item limit=discountLimit /}
      {/for}
&lt;/table&gt;|}</code></pre>

        {#include data /}

        <label for="output">Output:</label>
        <div class="panel panel-default" id="output">
            <div class="panel-body">
        <table class="table table-striped" id="output">
        <caption>List of Items (discount price limit: {discountLimit}, discount: {discount}&#37;)</caption>
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        {#for item in items}
           {#item-detail item limit=discountLimit /}
        {/for}
        </table>
    
            </div>
        </div>

{/include}