{#include base}
  {#title}Qute Sample - Index{/title}
  {#content}
        <div class="jumbotron">
            <h1>{sample.title} <small>{#sampleDiffLabel sample.difficulty /}</small></h1>
            <p>{description.raw}</p>
        </div>
        
        <!-- Snippet source -->
        <h2>Source of <code>src/main/resources/templates/snippets/{sample.snippetName}</code>:</h2>
        <pre id="source"><code class="html">{source}</code></pre>
        
        <!-- Output -->
        <h2>Output:</h2>
        <div class="card" id="output">
            <div class="card-body">
                <p>{output.raw}</p>
            </div>
        </div>
        
        <p></p>
        
        {#for info in sample.infos}
        <div class="alert alert-info" role="alert">{info.raw}</div>
        {/for}
{/include}