{#include base}
    {#title}When w/ Enum{/title}
    {#description}The <code>when</code> section matches a tested value against all blocks sequentially until a condition is satisfied. The first matching block is executed. All other blocks are ignored. A tested value that resolves to an enum is handled and validated specifically.{/}
    {#labels}
        <span class="label label-default">expression</span>
        <span class="label label-default">when section</span>
    {/labels}
    {#content}
        <label for="source">Source:</label>
        <pre id="source"><code>{|{#when status}
  {#is ON}
  It's running.
  {#is in OFF UNKNOWN}
  It's OFF or in unknow state.
{/when} |}</code></pre>

        {#include data /}

        <label for="output">Output:</label>
        <p id="output">
        {#when status}
            {#is ON}
                It's running.
            {#is in OFF UNKNOWN}
                It's OFF or in unknow state.
        {/when}
        </p>
{/include}