The <code>\{#if}</code> section is a basic control flow construct.
The simplest possible version accepts a single parameter and renders the content if the condition is not <code>falsy</code>, 
i.e. if the value is not <code>null</code>, <code>false</code>, an empty collection, an empty map, an empty array, an empty string/char sequence or a number equal to zero.
However, you can also use:
<ul>
<li>operators, e.g.: <code>\{#if item.age > 10}</code>,</li>
<li>multiple conditions, e.g.: <code>\{#if item.age > 10 && item.price > 500}</code>,</li>
<li>overridde the precedence rules by parentheses, e.g.: <code>\{#if (item.age > 10 || item.price > 500) && user.loggedIn}</code>,</li>
<li>add any number of <code>\{#else}</code> blocks.</li>
</ul>